<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thông tin giống cây trồng</title>
</head>
<body>
    <h2>Ngày nhập lô: {{ ngay }}</h2>

    <p>Sở NNPTNT cấp theo số: 1870/BC-SNN</p>

    <h3>1. Thông tin về giống cây trồng</h3>
    <p><b>Tên giống cây trồng:</b> Chuối già Nam Mỹ (Williams)</p>
    <p><b>Tên khoa học:</b> Musa acuminata Colla</p>
    <p><b>Tác giả:</b> Phạm Quốc Liêm, Tô Thị Nhã Trâm</p>

    <h3>2. Đặc điểm thực vật học chủ yếu</h3>
    <p>Thân giả: 2,3 – 3,0 m; đường kính 22–25 cm</p>
    <p>Lá: 12–13 lá, tán rộng</p>
    <p>Rễ: rễ chùm ăn sâu</p>
    <p>Hoa: lưỡng tính</p>
    <p>Quả: >24 trái/nải, đều, hơi cong</p>
    <p>Hạt: không có</p>

    <h3>3. Giá trị sử dụng</h3>
    <p>Dùng ăn trực tiếp hoặc chế biến tinh bột, tráng miệng, lên men ethylic</p>

    <h3>Ảnh sản phẩm</h3>
    <img src="/static/chuoi.png" alt="Sản phẩm" width="300">

    
</body>
</html>
